{#
Copyright 2000-2018 JetBrains s.r.o.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set BASE_NAME = properties['baseName'] + '-' + env['name'] %}
{% set REGION = properties['zone'][:-2] %}
{% set TEAMCITY_DB = 'teamcitydb' %}
{% set TEAMCITY_USER = 'teamcity' %}
{% set INSTANCE_NAME = 'postgres-malone' %}

{% if properties['size'] == 'large' %}
  {% set DB_TIER = 'db-n1-standard-2' %}
{% else %}
  {% set DB_TIER = 'db-n1-standard-1' %}
{% endif %}

resources:
- name: create-user
  type: sqladmin-v1beta4.user
  properties:
    name: {{ TEAMCITY_USER }}
    instance: {{ INSTANCE_NAME }}
    host: "cloudsqlproxy~%"

- name: create-database
  type: sqladmin-v1beta4.database
  metadata:
    dependsOn:
    - create-user
  properties:
    name: {{ TEAMCITY_DB }}
    instance: {{ INSTANCE_NAME }}
    charset: utf

outputs:
- name: instance
  value: {{ INSTANCE_NAME }}
- name: name
  value: $(ref.create-database.name)
- name: user
  value: {{ TEAMCITY_USER }}
